{%extends 'user/layout.html'%}

{%block isi%}
<div class="container mt-5">
    <h2>Pesananku</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Harga</th>
                <th scope="col">Kategori</th>
                <th scope="col">Deskripsi</th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <th scope="row">1</th>
                <td>Macbook M3</td>
                <td>15.000.000</td>
                <td>Macbook</td>
                <td>-</td>
            </tr>
           
        </tbody>
    </table>
</div>
{%endblock%}